.post-list{
  background-color: #f5f5f5;

  .post-item{

    width:22.5rem ;
    // align-content: center;
    padding: .7rem 1.25rem;
    background-color: #fff;
    margin-bottom: 0.5rem;
    display:block;
    max-width: 37.5rem;
    .imglist {
      align-content: center;
      margin: .3rem 1.25rem .05rem 1.25rem;
      width: 16.35rem;
      .icon{
        display: inline-block;
        background-size: cover;
        height: 8rem;
      }
      .icon:last-child{
        margin-right: 0;
      }
    }
    .count1 .icon{
      width: 100%;
    }
    .count2 .icon{
      width: 8rem;
      margin-right: 0.35rem;
    }
    .count3 .icon{
      width: 5.29rem;
      height: 5.29rem;
      margin-right: 0.24rem;
    }

    .content{
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-inline-box;
      word-break: break-word;
      font-size: .75rem;
    }
    .top{
      height: 2rem;
      img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        float: left;
      }
      span{
        margin-left: .75rem;
        font-size: .7rem;
        line-height: 2rem;
        color: #90959a;
        float: left;
      }
    }
  }
}


