.post-title{
    display: block;
    margin: 0 auto;
    width:21rem;
    background-color: #f5f5f5;
    border:1px solid #d4d3d3;
    margin-top:2rem;
    box-sizing: border-box;
    padding: 1.1rem;
    line-height: 2;
    outline: none;
}

.prompt{
    display:block;
    margin:0 auto;
    color: red;
    width: 21rem;
    font-size: .6rem;
    padding-top: .7rem;
}

.image-list {
    
    display:block;
    margin:0 auto;
    width: 21rem;
    padding: 9px;
    box-sizing: border-box;
    .border{

        position: relative;
        float: left;
        margin-right: 10px;
        margin-top:10px; 
        width: 65px;
        height:65px;
        border: 1px dotted #ccc;
        &.icon{
            border: 0;
            background-size: cover;
            position: relative;
            .remove{
                position: absolute;
                top: 0;
                right: 0;
                background: #111;
                width: 20px;
                height: 20px;
                color: #ffffff;
                text-align: center;
                line-height: 20px;
            }
        }
        .mid-height{
            position: absolute;
            // width: 1px;
            height: 25px;
            content: " ";
            top:30%;
            left:50%;
            // -webkit-transform-origin-x: -50%;
            -webkit-transform-origin-y: -50%;
            border:1px solid #ccc
        }
        .mid-width{
            position: absolute;
            width: 25px;
            // height: 25px;
            content: " ";
            top:50%;
            left:30%;
            -webkit-transform-origin-x: -50%;
            // -webkit-transform-origin-y: -50%;
            border:1px solid #ccc
        }
    }

    

    // post-list::before{
    //     width: 1px;
    //     height: 25px;
    //     content: " ";
    //     position: relative;
    //     top: 50%;
    //     left: 50%;
    //     -webkit-transform: translateX(-50%,-50%);
    //     // -ms-transform: translate(-50%,-50%);
    //     // transform: translate(-50%,-50%);
    //     background-color: #ccc;
    // }
    input {
        position: relative;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
}

.clear{
    clear: both;
}

.btn {
    display: block;
    margin: 25px auto;
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, #fde052, #febf05);
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    outline: none;

}

 
