.stb-home{
    margin-top: 2.5rem;
    .role-t{
        margin-bottom: 60px;
        .role-title{
            display: block;
            margin:0 auto;
            background-image: url('../images/icon/roletitle.png'); 
            width: 15.2rem;
            height: 2.975rem;
            margin-top: 1.5rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
        }
        .role-sub-title{
            color:grey;
            font-size:.8rem;
            margin-left: 25%;
        }
    }
    
}


.role-select button{
    display: block;
    height: 2.8rem;
    width: 18rem;
    border-radius: 1.25rem;
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    margin-top: 1.375rem;
    color: #999;
    font-size: .85rem;
    font-weight:bold ;// 赶紧修正这里的语法错误 漏了；
}
button{
    display: block;
   
    border-radius: 1.25rem;
    border:1px solid #999;
    margin: 0 auto;
    margin-top: 1.375rem;
    color: #999;
    font-size: .85rem;
    // font: 16px/1.5 Helvetica,Arial;
    border:none;
    outline: none;
}

// button:focus{outline:0;} 

.role-select .active{
    color:#ffce1a;
    background-color:#313131;
}
.ok{

    display:block;
    height: 2.8rem;
    width:18rem;
    border-radius:1.25rem;
    border:1px solid #e1e1e1;
    margin:0 auto;
    margin-top: 2.9rem;
    color:#fcfcfc;
    font-size:.85rem;
    background: linear-gradient(90deg,#fde052,#febf05);
}

